mat-card {
  background-color: white;
}

.inbox-message-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .message-details {
    flex: 1;
    margin-left: 10px;
  }
  
  .message-subject {
    font-size: 16px;
    font-weight: bold;
  }
  
  .message-sender {
    font-size: 14px;
    color: gray;
  }
  