<mat-card class="mt-5">
  <mat-card-header>
    <mat-icon class="m-3">inbox</mat-icon>
    <mat-card-title class="m-3">Bandeja de Entrada</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <div *ngFor="let chat of chats">
      <mat-card class="mb-3">
        <mat-card-content>
          <div>
            <h4 class="mb-1 fw-bold">Chat con: {{ chat.student.name }}</h4>
            Último mensaje:           
            {{ chat.messages?.length ? chat.messages[chat.messages.length - 1]?.content : 'Sin mensajes' }}

          </div>
          <div class="mt-2">
            <button mat-raised-button color="primary" (click)="openChat(chat)">Abrir Chat</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end m-3">
    <button mat-raised-button color="accent" (click)="newMessage()">Nuevo Mensaje</button>
  </mat-card-actions>
</mat-card>
