<div class="full">
  <header>
    <app-header-public-component (toggle)="toggleSideBar()"></app-header-public-component>
  </header>

  <div class="layout">
    <aside 
      class="sidebar"
      [class.open]="isSidebarOpen"
      *ngIf="isAuthenticated">
      <app-side-bar [isSidebarOpen]="isSidebarOpen"></app-side-bar>
    </aside>
    <div class="container">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <footer>
    <app-footer-public-component></app-footer-public-component>
  </footer>
</div>
