/* General layout */
.full {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex; /* Flexbox para poner aside y container al mismo nivel */
  flex: 1; /* Ocupa el espacio restante debajo del header */
}

/* Sidebar styles */
aside.sidebar {
  width: 250px; /* Fondo del sidebar */
  height: auto; /* Asegura que el aside crezca con el contenido */
  position: relative; /* Alineado con el container */
}

/* Container styles */
.container {
  flex: 1; /* Ocupa el resto del espacio disponible */
  display: flex;
  flex-direction: column;
}

/* Main content styles */
main.content {
  padding: 20px;
  width: 100%; /* El main ocupa todo el ancho disponible dentro de container */
}

/* Responsive adjustments */
@media (max-width: 1300px) {
  

  aside.sidebar {
    position: fixed;
    width: 100%;
    transform: translateX(-100%); /* Oculto por defecto */
    transition: transform 0.3s ease-in-out;
    z-index: 10; /* Encima del contenido */
  }

  aside.sidebar.open {
    transform: translateX(0); /* Visible cuando está abierto */
  }

  
}
