@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.container{
    height: fit-content;
    width: 50%;
    margin-top: 6%;
    margin-bottom: 10%;
    background:#fff; 
    border-radius: 10px; 
    box-shadow:15px 20px 20px 20px rgba(0,0,0,0.1);
}
.carousel-inner{
    border-radius:0 10px 10px 0;
}
.carousel-caption{
    text-align:left; left:5%;
}
.login-sec{
    padding: 50px 30px; 
    position:relative;
}
.login-sec .copy-text{
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}
.login-sec .copy-text i{
    color:#FEB58A;
}
.login-sec .copy-text a{
    color:#E36262;
}
.login-sec h2{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: #DE6262;
}
.login-sec h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FEB58A; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto
}
.btn-login{
    background: #DE6262; 
    color:#fff; 
    font-weight:600;
}
.banner-text{
    width:70%; 
    position:absolute; 
    bottom:40px; 
    padding-left:20px;
}
.banner-text h2{
    color:#fff; 
    font-weight:600;
}
.banner-text h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
}
.banner-text p{
    color:#fff;
}

.custom-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover:enabled {
    background-color: #c0392b;
  }
  
  .custom-btn:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }

  .card{
    border: none !important;
  }