.card-img-top {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .card-title {
    font-weight: 700;
  }
  
  .card-body {
    padding: 20px;
  }
  .card-img-top {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-img-top:hover {
    transform: scale(1.4);
  }
  
  .card-body .description {
    display: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .description {
    display: block;
    opacity: 1;
  }