<div class="container">
  <!-- Sección 1: Bienvenida -->
  <div class="card">
    <h1 class="title">Bienvenido a nuestra TeacherApp</h1>
    <div class="content">
      <p class="description">
        ¡Nos alegra tenerte aquí! Bienvenido a nuestra aplicación diseñada especialmente para profesores y alumnos. Aquí encontrarás todo lo necesario para facilitar tu experiencia de aprendizaje.
      </p>
    </div>
  </div>

  <!-- Sección 2: Página de Inicio -->
  <div class="card">
    <h2 class="subtitle">Así es nuestra página de inicio</h2>
    <div class="content">
      <p class="description">
        Regístrate como estudiante o profesor y comienza tu viaje en el mundo del aprendizaje. Con nuestro mapa interactivo, encuentra al profesor ideal seleccionando la materia, nombre, modalidad (online o presencial), ubicación, precio y puntuación.
      </p>
      <img src="assets/inicio.png" alt="Página de inicio" class="image">
    </div>
  </div>

  <!-- Sección 3: Profesores Destacados -->
  <div class="card">
    <h2 class="subtitle">En profesores destacados</h2>
    <div class="content">
      <p class="description">
        Justo debajo de la página de inicio, encontrarás a los profesores más destacados. Descubre su área de enseñanza y la puntuación que han obtenido en nuestra plataforma.
      </p>
      <img src="assets/prodest.png" alt="Profesores destacados" class="image">
    </div>
  </div>

  <!-- Sección 4: Header -->
  <div class="card">
    <h2 class="subtitle">Nuestro Header</h2>
    <img src="assets/header.png" alt="Header" class="header-image">
    <p class="description">
      Desde el Header, accede a diferentes opciones como la página de inicio, búsqueda de profesores, cómo funciona la plataforma y la sección de contacto. Completa un formulario simple con tu nombre, correo y mensaje para comunicarte con nosotros. También puedes iniciar sesión o registrarte como profesor o alumno.
    </p>
  </div>
  <div class="card">
    <h2 class="subtitle">Registros</h2>
    <div class="register-content">
      <img src="assets/prodest.png" alt="Registro de alumno" class="register-image">
      <div class="register-texts">
        <p class="register-text">&#x2190; Registro de alumno </p>
        <p class="register-text">Registro de profesor &#x2192;</p>
      </div>
      <img src="assets/prodest.png" alt="Registro de profesor" class="register-image">
    </div>
  </div>
</div>
