<div class="container py-5 text-center">
    <h2 class="display-5 mb-4">+ de 10 mil tutores</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h4 class="card-title">Tutores por el mundo</h4>
            <p class="card-text display-4 text-primary">29K+</p>
            <p class="card-text">Contamos con tutores en todo el mundo, listos para ayudar a los estudiantes a tener éxito.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h4 class="card-title">Opiniones verificadas</h4>
            <p class="card-text display-4 text-primary">1k+</p>
            <p class="card-text">Reseñas reales de estudiantes que han encontrado a sus prfesores ideales para cumplir sus metas</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h4 class="card-title">Areas</h4>
            <p class="card-text display-4 text-primary">100+</p>
            <p class="card-text">
                Ofrecemos una amplia gama de temas desde lo académico hasta el desarrollo personal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
