<div class="favorite-teachers">
  <h2 class="fw-bold text-dark mt-3">Profesores Favoritos</h2>
  <p class="description">
    En esta sección encontrarás a los profesores más destacados, seleccionados por su impacto positivo que tienen en sus estudiantes.
  </p>
  <div class="teachers-container">
    <div class="teacher-card" *ngFor="let teacher of favoriteTeachers">
      <img [src]="teacher.image" alt="{{ teacher.name }}" />
      <div class="teacher-details">
        <h3>{{ teacher.name }}</h3>
        <p>{{ teacher.description }}
        </p>
      </div>
    </div>
  </div>
</div>
