.sidebar-container {
  padding: 10px; 
  color: white;
  background-color: #343a40;
  
 
}

.user-profile {
 display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}
.center {
  display: flex;
  align-items: center; 
  gap: 10px;
  color: #D8CEC2;
}
.center:hover{
  color: aquamarine;
}
mat-icon:hover {
  font-size: 24px;
  color: white; 
}

a , .text{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55); 
  font-size: 16px;
}

mat-list-item {
  padding: 8px 16px;
}

img{

   width: 40px;
   height: 40px;
}
.active{
  color: #00594F;
}

