<div class="d-flex flex-column flex-shrink-0 bg-light sidebar mt-5 mb-5">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center mt-5">
    <li class="nav-item mb-3">
      <a href="/" class="d-block p-2 link-dark text-decoration-none" matTooltip="TeacherAPP" matTooltipPosition="right">
        <mat-icon>school</mat-icon>
        <span class="visually-hidden">TeacherAPP</span>
      </a>
    </li>

    <!-- general option -->
    <li class="nav-item mb-3">
      <p [routerLink]="role_url"  routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" aria-current="page">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </p>
    </li>
    <li class="nav-item mb-3">
      <a routerLink="student" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" aria-current="page" matTooltip="Home" matTooltipPosition="right">
        <mat-icon>home</mat-icon>
      </a>
    </li>

    <!-- Opciones exclusivas para usuarios autenticados -->
    <ng-container *ngIf="isAuthenticated">
      
      <!-- option to role admin -->
      <ng-container *ngIf="role === '1'">
        <li class="nav-item mb-3">
          <a routerLink="/all-users" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Todos los Usuarios" matTooltipPosition="right">
            <mat-icon>group</mat-icon>
          </a>
        </li>
        <li class="nav-item mb-3">
          <a routerLink="/subjects" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Asignaturas" matTooltipPosition="right">
            <mat-icon>class</mat-icon>
          </a>
        </li>
        <li class="nav-item mb-3">
          <a routerLink="/courses" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Cursos" matTooltipPosition="right">
            <mat-icon>content_paste</mat-icon>
          </a>
        </li>
      </ng-container>

      <!-- option to role teacher -->
      <ng-container *ngIf="role === '2'">
        <li class="nav-item mb-3">
          <a routerLink="/mis-alumnos" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Mis Clases" matTooltipPosition="right">
            <mat-icon>class</mat-icon>
          </a>
        </li>
        <li class="nav-item mb-3">
          <a routerLink="/calendar" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Calendario" matTooltipPosition="right">
            <mat-icon>event</mat-icon>
          </a>
        </li>
        <li class="nav-item mb-3">
          <a [routerLink]="['/inbox']" class="nav-link py-2 border-bottom" matTooltip="Bandeja de entrada" matTooltipPosition="right">
            <mat-icon>email</mat-icon>
          </a>
        </li>
      </ng-container>

      <!-- option to role student -->
      <ng-container *ngIf="role === '3'">
        <li class="nav-item mb-3">
          <a routerLink="/courses" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Mis Cursos" matTooltipPosition="right">
            <mat-icon>library_books</mat-icon>
          </a>
        </li>

        <li class="nav-item mb-3">
          <a routerLink="/calendar" routerLinkActive="router-link-active" class="nav-link py-2 border-bottom" matTooltip="Calendario" matTooltipPosition="right">
            <mat-icon>event</mat-icon>
          </a>
        </li>
        <li class="nav-item mb-3">
          <a [routerLink]="['/inbox']" class="nav-link py-2 border-bottom" matTooltip="Bandeja de entrada" matTooltipPosition="right">
            <mat-icon>email</mat-icon>
          </a>
        </li>
      </ng-container>

      <!--logout option -->
      <li class="nav-item mb-3">
        <span matTooltip="Cerrar sesión" matTooltipPosition="right" (click)="logout()" style="cursor: pointer;">
          <mat-icon>logout</mat-icon>
        </span>
      </li>
    </ng-container>
  </ul>
</div>
