
  <div class="sidebar-container" [class.open]="isSidebarOpen">
    <!-- User Profile Section -->
     
    <div class="user-profile" *ngIf="isAuthenticated">
      <img src="https://picsum.photos/300/200?random=" alt="mdo" class="rounded-circle">
    </div>

    <!-- Navigation Menu -->
    <mat-nav-list>
      <!-- General Options -->
      <mat-list-item routerLink="/index" routerLinkActive="active" matTooltip="Home" matTooltipPosition="right">
        <div class="center">
        <mat-icon>home</mat-icon>
        HOME
      </div>
      </mat-list-item>

      <!-- Admin Role Options -->
      <ng-container *ngIf="isAuthenticated && role === '1'">
        <mat-list-item routerLink="/all-users" routerLinkActive="active" matTooltip="Usuarios" matTooltipPosition="right">
          <div class="center">
          <mat-icon matListItemIcon>people</mat-icon>
          USUARIOS
        </div>
        </mat-list-item>
        <mat-list-item routerLink="/subjects" routerLinkActive="active" matTooltip="Asignaturas" matTooltipPosition="right">
          <div class="center">
          <mat-icon matListItemIcon>book</mat-icon>
          ASIGNATURAS
        </div>
        </mat-list-item>
        <mat-list-item routerLink="/all-courses" routerLinkActive="active" matTooltip="Todos los cursos" matTooltipPosition="right">
          <div class="center">
          <mat-icon>content_paste</mat-icon>
          TODOS LOS CURSOS
        </div>
        </mat-list-item>
        <mat-list-item 
        routerLink="/inbox" class="nav-link" matTooltip="Bandeja de entrada" matTooltipPosition="right" >
        <div class="center">
          <mat-icon>email</mat-icon>
          MIS MENSAJES
        </div>
        </mat-list-item>
        <mat-list-item routerLink="/admin" routerLinkActive="active" matTooltip="Perfil" matTooltipPosition="right">
          <div class="center">
          <mat-icon>dashboard</mat-icon>
          PERFIL
        </div>
        </mat-list-item>
      </ng-container>

      <!-- Teacher Role Options -->
      <ng-container *ngIf="isAuthenticated && role === '2'">
        <mat-list-item routerLink="/mis-alumnos" routerLinkActive="active" matTooltip="Mis alumnos" matTooltipPosition="right">
          <div class="center">
          <mat-icon matListItemIcon>class</mat-icon>
          MIS ALUMNOS
        </div>
        </mat-list-item>
        <mat-list-item routerLink="/calendar" routerLinkActive="active" matTooltip="Calendario" matTooltipPosition="right">
          <div class="center">
          <mat-icon matListItemIcon>calendar_today</mat-icon>
          CALENDARIO
        </div>
        </mat-list-item>
        <mat-list-item 
        routerLink="/inbox" matTooltip="Bandeja de entrada" matTooltipPosition="right" matTooltip="Mis mensajes" matTooltipPosition="right">
        <div class="center">
          <mat-icon>email</mat-icon>
          MIS MENSAJES
        </div>
        </mat-list-item>
        <mat-list-item routerLink="/teacher" routerLinkActive="active" matTooltip="Perfil" matTooltipPosition="right">
          <div class="center">
          <mat-icon>dashboard</mat-icon>
          PERFIL
        </div>
        </mat-list-item>
      </ng-container>

      <!-- option to role student -->
      <ng-container *ngIf="role === '3'">
        <li class="nav-item mb-3">
          <mat-list-item routerLink="/courses" routerLinkActive="router-link-active" matTooltip="Mis Cursos" matTooltipPosition="right">
            <div class="center">
            <mat-icon>library_books</mat-icon>
            CURSOS
            </div>
          </mat-list-item>
        </li>

        <li class="nav-item mb-3">
          <mat-list-item routerLink="/calendar" routerLinkActive="router-link-active" matTooltip="Calendario" matTooltipPosition="right">
            <div class="center">
            <mat-icon>event</mat-icon>
            CALENDARIO
          </div>
          </mat-list-item>
        </li>
        <li class="nav-item mb-3">
          <mat-list-item [routerLink]="['/inbox']" matTooltip="Bandeja de entrada" matTooltipPosition="right">
            <div class="center">
            <mat-icon>email</mat-icon>
            MIS MENSAJES
          </div>
          </mat-list-item>
        </li>
        <li class="nav-item mb-3">
          <mat-list-item routerLink="/student" routerLinkActive="router-link-active" aria-current="page" matTooltip="Dashboard" matTooltipPosition="right">
            <div class="center">
            <mat-icon>dashboard</mat-icon>
            PERFIL
          </div>
          </mat-list-item>
        </li>
      </ng-container>

      <!-- Logout -->
      <mat-list-item matTooltip="Cerrar Sesión" matTooltipPosition="right" (click)="logout()">
        <div class="center">
        <mat-icon>logout</mat-icon>
        CERRAR SESION
      </div>
      </mat-list-item>
    </mat-nav-list>
  </div>
