<!-- <section class="container mt-4">
    <div class="card shadow p-3 border-1 border-warning">
      <div class="row">
        <figure class="col-12 col-md-2">
          <img class="img-fluid" [src]="user.image" [alt]="user.first_name">
        </figure>
        <div class="col-12 col-md-10">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <hr>
          <ul>
            <li>Email: {{user.email}}</li>
            <li>Usuario: {{user.username}}</li>
          </ul>
          <div class="buttons">
            <app-buttons [volver]="true" [userId]="user._id"></app-buttons>
          </div>
        </div>
      </div>
    </div>
  
  
  </section> -->