<section class="login-block mt-4 mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 login-sec">
        <h2 class="text-center">Login in our system</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
          </div>
          <div class="row mt-3">
            <button type="submit" class="btn btn-login float-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>