/* Importar la fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

.container {
    max-width: 600px; 
    margin-top: 5%;
    padding: 80px; 
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

.login-sec h2 {
    font-size: 36px; 
    color: #DE6262;
    margin-bottom: 40px; 
    text-align: center;
}

.login-sec h2::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #FEB58A;
    display: block;
    margin: 15px auto;
    border-radius: 2px;
}

.form-group label {
    font-weight: 500;
    font-size: 16px; 
    color: #444;
}

.form-control {
    border-radius: 12px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #DE6262;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

.btn-login {
    background: #DE6262;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #d62f2f;
}

.form-check small {
    color: #666;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin-top: 10%;
    }
}
