<footer class="bg-dark text-white pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <!-- Columna de Información -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase font-weight-bold">Nuestra Empresa</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>TeacherApp, una aplicación diseñada especialmente para profesores y alumnos. Aquí encontrarás todo lo necesario para facilitar tu experiencia de aprendizaje.</p>
          <a [routerLink]="['/how-works']" class="btn btn-teacher">Saber más</a>
        </div>
  
        <!-- Columna de Enlaces -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="text-uppercase font-weight-bold">Enlaces</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><a href="#!" class="text-white">Inicio</a></p>
          <p><a href="#!" class="text-white">Sobre Nosotros</a></p>
          <p><a href="#!" class="text-white">Servicios</a></p>
          <p><a href="#!" class="text-white">Contacto</a></p>
        </div>
  
        <!-- Columna de Contacto -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
          <h5 class="text-uppercase font-weight-bold">Contacto</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><i class="fas fa-home mr-3"></i> Namek </p>
          <p><i class="fas fa-envelope mr-3"></i> info.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 111111</p>
          <p><i class="fas fa-print mr-3"></i> + 11111111</p>
        </div>
  
        <!-- Columna de Redes Sociales -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
          <h5 class="text-uppercase font-weight-bold">Síguenos</h5>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p><a href="#!" class="text-white"><i class="bi bi-facebook"></i> Facebook</a></p>
          <p><a href="#!" class="text-white"><i class="bi bi-twitter"></i> Twitter</a></p>
          <p><a href="#!" class="text-white"><i class="bi bi-instagram"></i> Instagram</a></p>
          <p><a href="#!" class="text-white"><i class="bi bi-linkedin"></i>  LinkedIn</a></p>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright text-center py-3">
      © 2024 Nuestro proyecto. Todos los derechos reservados.
    </div>
  </footer>