<div class="student-cards">
  <mat-card
    *ngFor="let student of students"
    class="student-card animate__animated animate__fadeIn"
  >
    <mat-card-header>
      <img mat-card-avatar [src]="student.student_image" alt="{{ student.student_name }}">
      <mat-card-title>{{ student.student_name }}</mat-card-title>
      <mat-card-subtitle>{{ student.student_email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Curso: {{ student.course_name }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="sendTask(student)">Enviar Tarea</button>
      <button mat-button (click)="viewStudentDetails(student)">Ver Detalles</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="pagination">
  <button mat-button 
          class="previous-button" 
          (click)="goToPage(currentPage - 1)" 
          [disabled]="currentPage === 1">
    Anterior
  </button>
  <button mat-button 
          *ngFor="let page of totalPages" 
          [class.active]="page === currentPage" 
          (click)="goToPage(page)">
    {{ page }}
  </button>
  <button mat-button 
          class="next-button" 
          (click)="goToPage(currentPage + 1)" 
          [disabled]="currentPage * itemsPerPage >= students.length">
    Siguiente
  </button>
</div>

