<!-- ...existing code... -->

<!-- Students Chart Section -->
<mat-card class="mb-4">
  <mat-card-header>
    <mat-card-title>Alumnos Inscritos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-pie-chart
      [results]="data"
      [scheme]="colorScheme"
      [legend]="true"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card>

<!-- Earnings Chart Section
<mat-card class="mb-4">
  <mat-card-header>
    <mat-card-title>Ganancias de los Cursos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-pie-chart
      [results]="earningsData"
      [scheme]="colorScheme"
      [legend]="true"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card> -->

<!-- Pending Tasks Chart Section
<mat-card class="mb-4">
  <mat-card-header>
    <mat-card-title>Tareas Pendientes de Calificar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-pie-chart
      [results]="pendingTasksData"
      [scheme]="colorScheme"
      [legend]="true"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card> -->

<!-- Courses Chart Section -->
<mat-card class="mb-4">
  <mat-card-header>
    <mat-card-title>Cursos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-pie-chart
      [results]="coursesData"
      [scheme]="colorScheme"
      [legend]="true"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card>

<!-- Teachers Chart Section -->
<mat-card class="mb-4">
  <mat-card-header>
    <mat-card-title>Profesores</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-pie-chart
      [results]="teachersData"
      [scheme]="colorScheme"
      [legend]="true"
      [labels]="true"
      [doughnut]="true">
    </ngx-charts-pie-chart>
  </mat-card-content>
</mat-card>

<!-- ...existing code... -->
