<div class="container p-4">
  <h2>Listado de cursos Online</h2>

  <mat-divider class="mb-4"></mat-divider>

  <div class="row">
    <!-- Iterar sobre los cursos -->
    <div class="col-md-4" *ngFor="let course of courses$ | async">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ course.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'https://picsum.photos/300/200?random=' + course.id" alt="Imagen del curso {{ course.name }}">
        <mat-card-content>
          <p class="p-2">
            Aprende más sobre {{ course.name.toLowerCase() }} con este curso especializado.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn-no-border" color="info" (click)="openModal(course)">
            Inscribirse
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
