<div class="container">
    <h1>Cursos Online</h1>
    <div class="row">
      <!-- *ngFor con el pipe async -->
      <div class="col-md-4" *ngFor="let course of courses$ | async">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">Este curso online te ayudará a mejorar tus conocimientos en {{ course.name.toLowerCase() }} desde la comodidad de tu hogar.</p>
            <a href="#" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  