.container{
    background-color: white;
    border-radius: 10px;
    padding: 0 15px;
}
.custom-card {
  background-color: #D8CEC2;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 350px; /* Establece una altura fija para todas las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.custom-card img {
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.custom-card-content {
  flex-grow: 1; /* Permite que el contenido ocupe espacio proporcional */
  height: 100px; /* Altura máxima para mantener el diseño uniforme */
  overflow: hidden; /* Oculta el contenido que exceda el tamaño */
  margin-bottom: 4px; /* Espaciado inferior para separarlo del botón */
  padding: 8px;
}
.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.course-card {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .custom-card-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: #343a40;
  }
  
  mat-card-header {
    padding-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.95rem;
    margin-bottom: 16px;
    
  }
  
  .btn-outline-primary {
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: 600;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
  }
  
  .text-muted {
    font-size: 0.85rem;
  }
  .btn-inscribirse {
    background-color: #007bff;
    color: white;
    width: 100%;
    border-radius: 8px;
    margin-top: auto; /* Empuja el botón hacia la parte inferior */
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .card-title {
      font-size: 1.1rem;
    }
  
    .card-text {
      font-size: 0.9rem;
    }
  
    .btn-outline-primary {
      font-size: 0.85rem;
    }
  
    .course-card {
      margin-bottom: 20px;
    }
    .custom-card-content {
      height: 80px;
      margin-bottom: 6px;
      padding: 6px;
    }
  }
  
  /* Ajustes para pantallas extra pequeñas */
  @media (max-width: 576px) {
    .card-text {
      font-size: 0.85rem;
    }
  
    .btn-outline-primary {
      width: 100%;
      text-align: center;
    }
  
    .d-flex {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .text-muted {
      margin-top: 10px;
    }
    .custom-card-content {
      height: 60px;
      margin-bottom: 8px; 
      padding: 4px;
    }
  }
  