.comment {
    width: 15%;
}

mat-icon {
    cursor: pointer;
    color: gray;  /* Color por defecto */
    transition: color 0.3s ease;
    font-size: 16px;
  }
  
  mat-icon.active {
    color: gold;  /* Color de los íconos activos */
  }