<p>dashboard works!</p>
<div class="container mt-5">
    <h2>Bienvenido a tu TeacherApp</h2>
    <div class="row">
      <!-- Menú Lateral -->
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Mis Profesores</a></li>
          <li class="list-group-item"><a href="#">Opiniones</a></li>
          <li class="list-group-item"><a href="#">Mensajes</a></li>
          <li class="list-group-item"><a href="#">Mi Perfil</a></li>
        </ul>
      </div>

      <!-- Contenido -->
      <div class="col-md-9">
        <h4>Mis Profesores</h4>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Profesor 1</h5>
            <p class="card-text">Lecciones Completadas: 5</p>
            <p class="card-text">Última Lección: Hace 2 días</p>
            <a href="#" class="btn btn-primary">Contactar</a>
          </div>
        </div>
      </div>
    </div>
  </div>