<div class="container-flex text-center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/index">TeacherApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/index']">Inicio</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="academicOfferingsDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Oferta académica
              </a>
              <ul class="dropdown-menu" aria-labelledby="academicOfferingsDropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="['/academic-offerings/presential']">Cursos Presenciales</a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/academic-offerings/online']">Cursos Online</a>
                </li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/looking-teachers']">Buscar Profesores</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/how-works']">Cómo Funciona</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contacto</a></li>
          </ul>
          <div>
            <a data-bs-toggle="collapse" data-bs-target="#navbarNav" *ngIf="!isAuthenticated" [routerLink]="['/login']" class="btn btn-success me-2">
              Iniciar Sesión
            </a>
          
            <!-- if user it´s logged, can show his profile -->
            <a *ngIf="isAuthenticated"  [routerLink]="['/profile']" class="btn btn-primary me-2">
              {{ userName }}
            </a>
          

            <a data-bs-toggle="collapse" data-bs-target="#navbarNav" [routerLink]="['/register-student']" class="btn btn-outline-info m-2">Registrarse como alumno</a>
            <a data-bs-toggle="collapse" data-bs-target="#navbarNav" [routerLink]="['/register-teacher']" class="btn btn-outline-warning">Registrarse como profesor</a>
            

          </div>
        </div>
      </div>