<h2 mat-dialog-title>Enviar Tarea</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comentarios</mat-label>
      <textarea matInput formControlName="comments" placeholder="Ingrese los detalles de la tarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Límite</mat-label>
      <input matInput formControlName="deadline" type="date">
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" [disabled]="taskForm.invalid">Enviar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>