.search-section {
    background: linear-gradient(to bottom, #dce6f8, #ffffff);
    padding: 4rem 0;
    border-radius: 10px;
  }
  
  .search-input-group {
    max-width: 900px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .input-group-text {
    background: white;
    border: none;
  }
  
  
  
  
  
  .popular-categories {
    max-width: 90%;
  }
  
  
  mat-card {
    border-bottom: none !important;
  }