.search-section {
    background-color: white;
    border-radius: 15px 15px 0 0;
  }

  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas automáticas */
    gap: 15px; /* Espaciado entre tarjetas */
    justify-items: center; /* Centra el contenido de cada tarjeta */
  }
  
  .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .category-item:hover {
    background-color: #f0f0f0;
  }
  
  mat-form-field {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
  }

  mat-slider {
    width: 100%;
  }

  .btn-lg {
    padding: 10px 20px;
    font-size: 1.25rem;
  }





  @media (min-width: 768px) {
    .form2{
      display: none;
    }

    .form1 {
      display: block;
    }
  }

 




  

  





