.search-section {
  background: linear-gradient(to bottom, #dce6f8, #ffffff);
  border-radius: 10px;
}


.cardActive {
display: none !important;
}

.card_container {
  max-width: 100%;
  max-height: 450px;
  box-sizing: border-box;
  gap: 5px;
  overflow-y: auto;
  }
  
  
  .test {
    height: auto;
    max-height: 100%;
  }
  





