<h2 mat-dialog-title>Chat con: {{ chat.student.name }}</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
  <div *ngFor="let message of chat.message" class="message">
    <p><strong>{{ message.sender.name }}:</strong> {{ message.content }}</p>
    <span class="timestamp">{{ message.timestamp | date: 'short' }}</span>
  </div>

  <div style="flex: 1; display: flex; align-items: center;">
    <mat-form-field style="flex: 1;" appearance="outline">
      <mat-label>Escribe un mensaje</mat-label>
      <input matInput [(ngModel)]="newMessage" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()">Enviar</button>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
