<mat-card class="profile-card">
   
    <button (click)="onClose()" mat-icon-button class="close-button">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>

    </button>
  
    <div class="card-content">

      <div class="left-section">
        <img mat-card-avatar class="profile-photo" src="URL_DE_LA_FOTO" alt="Foto del profesor">
        <div class="info">
          <h2>{{data.teacher.name}}</h2>
          <p><strong>Teléfono:</strong> {{data.teacher.details.phone}}</p>
          <p><strong>Email:</strong> {{data.teacher.email}}</p>
          <p><strong>Dirección:</strong> {{data.teacher.details.address}}</p>
          <p><strong>Puntuación:</strong> {{data.teacher.averageTeacher.avg}}</p>
          <p><strong>Descripción:</strong> {{data.teacher.details.description}}</p>
        </div>
      
      </div>
  

      <div class="vertical-divider"></div>
  

      <div class="right-section">
        <h3>Cursos Ofrecidos</h3>
        <ul>

           @for (course of data.teacher.coursesTaught; track $index) {
            <mat-card class="w-50">
              <div>
                <p>{{course.name}}</p>

              </div>
              <div class="d-flex gap-2">
                <p><strong>Puntuación:</strong>{{course.price}}</p>
                <p><strong>Materia:</strong>{{course.category.category_name}}</p>

              </div>
            </mat-card>
           }
        </ul>
      </div>
    </div>
  

    <div class="bottom-section">
      <app-comments></app-comments>
    </div>
  </mat-card>

