.card {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 0.95rem;
    color: #6c757d;
  }

  .custom-modal .mat-dialog-container {
    padding: 24px; /* Espaciado interno */
    border-radius: 8px; /* Opcional */
  }

  

  
  