<div class="container p-4">
  <h2 class="text-center mb-2">Listado de Cursos Presenciales</h2>

  <mat-divider class="mb-4"></mat-divider>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let course of courses$ | async">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title class="custom-card-title">{{ course.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'https://picsum.photos/300/200?random=' + course.id" alt="Imagen del curso {{ course.name }}" class="custom-img">
        <mat-card-content>
          <p class="custom-text">
            Aprende más sobre {{ course.name.toLowerCase() }} con este curso especializado.
          </p>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button color="primary" class="btn-inscribirse" (click)="openModal(course)">
            Inscribirse
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
