<google-map class="map h-100" width="100%" (idle)="onMapChanges()" [options]="mapOptions()">

    <div class="openButton">
        <mat-icon class="icon" (click)="initLocation()" matSuffix>person</mat-icon>
    </div>

    <map-marker [position]="userPosition()"></map-marker>

    @if (AAteacherFilter != []) {
    @for (teacher of AAteacherFilter; track teacher.id) {
        <map-marker #teacherMarker="mapMarker" [position]="addMarkers(teacher?.details.lat, teacher?.details.lng)"  >


        </map-marker>
    }
}
</google-map>



