<h1 mat-dialog-title>Enviar Nuevo Mensaje</h1>
<div mat-dialog-content>
  <form [formGroup]="messageForm" class="message-form">
    <mat-form-field class="full-width">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="selectedStudent">
        <mat-option *ngFor="let student of data.students" [value]="student">
          {{ student }}
        </mat-option>
      </mat-select>
      @if ("messageForm.get('selectedStudent')?.hasError('required')") {
        <mat-error>
          El alumno es obligatorio
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Asunto</mat-label>
      <input matInput formControlName="subject">
      @if ("messageForm.get('subject')?.hasError('required')") {
        <mat-error>
          El asunto es obligatorio
        </mat-error>
      }
      @if ("messageForm.get('subject')?.hasError('minlength')") {
        <mat-error>
          El asunto debe tener al menos 3 caracteres
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Contenido</mat-label>
      <textarea matInput formControlName="content" placeholder="Escribe tu mensaje aquí..." rows="10" mat-autosize matAutosizeMinRows="5" matAutosizeMaxRows="15"></textarea>
      @if ("messageForm.get('content')?.hasError('required')") {
        <mat-error>
          El contenido del mensaje es obligatorio
        </mat-error>
      }
      @if ("messageForm.get('content')?.hasError('maxlength')") {
        <mat-error>
          El contenido del mensaje no puede exceder los 500 caracteres
        </mat-error>
      }
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onSend()">Enviar</button>
</div>