.demo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-app-main {
  width: 100%;
  max-width: 900px;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  overflow: hidden;
}

.event-important {
  background-color: red !important;
  border-color: red !important;
}

.event-normal {
  background-color: blue !important;
  border-color: blue !important;
}

.event-light {
  background-color: green !important;
  border-color: green !important;
}




.full-calendar {
  border-radius: 8px;
  font-family: 'Roboto', sans-serif; 
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0; 
}

.fc-day-header {
  background-color: #333333;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.fc-day {
  background-color: #fafafa;
  color: #333333;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.fc-day:hover {
  background-color: #f1f1f1; 
}

.fc-day.fc-day-today {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

.fc-event {
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-toolbar-title {
  font-size: 50px;
  font-weight: bold;
  color: #333333;
}

.fc-prev-button, .fc-next-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.fc-prev-button:hover, .fc-next-button:hover {
  background-color: #2980b9;
}
