.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; 
}

.progress {
  height: 1.5rem; 
}

.progress-bar {
  line-height: 1.5rem; 
}

.large-title {
  font-size: 2.5rem; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: bold;
}