<div class="row">
  <!-- Main content -->
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
    <mat-card class="align-items-center pt-3 pb-2 mb-3 border-bottom">
      <mat-card-header class="dashboard-header">
        <mat-card-title class="large-title">Dashboard del Estudiante</mat-card-title>
      </mat-card-header>
    </mat-card>

    <!-- Profile Section -->
    <mat-card class="mb-4 pt-4">
      <mat-card-header>
        <mat-card-title class="mb-3"><strong>Perfil del Estudiante</strong></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row mt-4">
          <div class="col-md-4 d-flex justify-content-center">
            <img [src]="studentProfile.details.img_url" class="img-fluid rounded-circle" alt="Foto del Estudiante" style="width: 150px; height: 150px;">
          </div>
          <div class="col-md-8">
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>person</mat-icon>
              </div>
              <div class="col-11">
                <strong>Nombre:</strong> {{ studentProfile.name }}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>email</mat-icon>
              </div>
              <div class="col-11">
                <strong>Email:</strong> {{ studentProfile.email }}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>phone</mat-icon>
              </div>
              <div class="col-11">
                <strong>Teléfono:</strong> {{ studentProfile.details.phone }}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>home</mat-icon>
              </div>
              <div class="col-11">
                <strong>Dirección:</strong> {{ studentProfile.details.address }}
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>edit</mat-icon>
              </div>
              <div class="col-11">
                <button mat-button color="primary" (click)="openEditUserModal()">Editar Perfil</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Task Section -->
    

    <!-- Courses Section -->
    <mat-card class="mb-4">
      <mat-card-header class="mb-4">
        <mat-card-title><strong>Tareas</strong></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="arrCourses" class="mat-elevation-z8">
            <ng-container class="header-cell" matColumnDef="materia_nombre">
              <th mat-header-cell *matHeaderCellDef> Curso </th>
              <td mat-cell *matCellDef="let course"> {{ course.materia_nombre }} </td>
            </ng-container>

            <ng-container class="header-cell" matColumnDef="profesor_nombre">
              <th mat-header-cell *matHeaderCellDef> Profesor </th>
              <td mat-cell *matCellDef="let course"> {{ course.profesor_nombre }} </td>
            </ng-container>

            <ng-container class="header-cell" matColumnDef="progreso_materia">
              <th mat-header-cell *matHeaderCellDef> Progreso </th>
              <td mat-cell *matCellDef="let course">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="course.progreso_materia" [attr.aria-valuenow]="course.progreso_materia" aria-valuemin="0" aria-valuemax="100">{{ course.progreso_materia }}%</div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let course">
                <button mat-button color="primary" class="btn btn-sm" (click)="viewSubscribedCourses()">Ver Curso</button>
                <button mat-button color="accent" class="btn btn-accent btn-sm" (click)="openTaskComponent()">Ver Tareas</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['materia_nombre', 'profesor_nombre', 'progreso_materia', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['materia_nombre', 'profesor_nombre', 'progreso_materia', 'actions'];"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Notifications Section -->
    <mat-card class="mb-4">
      <mat-card-header class="mb-4">
        <mat-card-title><strong>Notificaciones</strong></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let notification of notifications; let i = index">
            {{ notification }}
            <mat-divider *ngIf="i < notifications.length - 1"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </main>
</div>