<mat-dialog-content>
  <h1 mat-dialog-title class="dialog-title">📅 Detalle del Evento</h1>
  <mat-list>
    <mat-list-item class="list-item">
      <mat-icon>event</mat-icon>
      <div class="list-content">
        <strong>Título:</strong> {{ data.event.title }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>description</mat-icon>
      <div class="list-content">
        <strong>Descripción:</strong> {{ data.event.description || 'Sin descripción disponible' }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>schedule</mat-icon>
      <div class="list-content">
        <strong>Inicio:</strong> {{ localStartDateTime | date: 'dd/MM/yyyy, HH:mm' }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>schedule</mat-icon>
      <div class="list-content">
        <strong>Fin:</strong> {{ localEndDateTime | date: 'dd/MM/yyyy, HH:mm' }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>place</mat-icon>
      <div class="list-content">
        <strong>Modalidad:</strong> {{ selectedModality === 'Presential' ? 'Presencial' : 'Online' }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item" *ngIf="data.event.onlineLink">
      <mat-icon>link</mat-icon>
      <div class="list-content">
        <strong>Enlace:</strong>
        <a [href]="data.event.onlineLink" target="_blank">{{ data.event.onlineLink }}</a>
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>book</mat-icon>
      <div class="list-content">
        <strong>Materia:</strong> {{ subjectName || 'Materia no especificada' }}
      </div>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon>group</mat-icon>
      <div class="list-content">
        <strong>Tipo de Evento:</strong> {{ data.event.eventType === 'task' ? 'Tarea' : 'Clase' }}
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-raised-button matTooltip="Cerrar ventana" (click)="closeDialog()">
    X
  </button>
</mat-dialog-actions>

