
  <div class="teachers-container">
    <h2>Profesores Desstacados</h2>
    <div class="cards-container">
      <div class="card" *ngFor="let teacher of teachers">
        <img [src]="'assets/images/' + teacher.img_url" alt="Foto de {{ teacher.name }}" class="teacher-img">
        <h3>{{ teacher.name }}</h3>
        <p class="teacher-subject"><strong>Materia:</strong> {{ teacher.categories }}</p>
        <!-- <p class="teacher-rating"><strong>rating:</strong> {{ teacher.rating }}</p> -->
        <p class="teacher-description"><strong>Description:</strong> {{ teacher.description }}</p>
      </div>
    </div>
  </div>

