<div>
    <!-- Main content -->
    <main class="main-content">
      <!-- Header -->
      <mat-card class="align-items-center mb-2 border-bottom">
        <mat-card-header class="dashboard-header">
          <mat-card-title class="large-title">Dashboard del Profesor</mat-card-title>
        </mat-card-header>
      </mat-card>

      <!-- Profile Section -->
      <mat-card class="mb-2" id="profileSection">
        <mat-card-header>
          <mat-card-title class="mb-3">Perfil del Profesor</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="row mt-4">
            <div class="col-md-4 d-flex justify-content-center">
              <img [src]="teacherProfile.details.img_url" class="profile-img" alt="Foto del Profesor">
            </div>
            <div class="col-md-8">
              <div class="row mb-2">
                <div class="col-1">
                <mat-icon>person</mat-icon>
              </div>
                <div class="col-11">
                <span><strong>Nombre:</strong> {{ teacherProfile.name }}</span>
              </div>
            </div>
              <div class="row mb-2">
                <div class="col-1">
                <mat-icon>email</mat-icon>
              </div>
              <div class="col-11">
                <span><strong>Email:</strong> {{ teacherProfile.email }}</span>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>phone</mat-icon>
              </div>
              <div class="col-11">
                <span><strong>Teléfono:</strong> {{ teacherProfile.details.phone }}</span>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-1">
                <mat-icon>home</mat-icon>
              </div>
              <div class="col-11">
                <span><strong>Dirección:</strong> {{ teacherProfile.details.address }}</span>
              </div>
            </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Students Chart Section -->
      <mat-card class="mb-2" >
        <mat-card-header>
          <mat-card-title class="mb-3">Alumnos Inscritos</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ngx-charts-pie-chart
            [results]="data"
            [scheme]="colorScheme"
            [legend]="true"
            [labels]="true"
            [doughnut]="true"
            class="chart-responsive"
            (click)="openStudents()">
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>

      <!-- Earnings Chart Section -->
      <mat-card class="mb-2">
        <mat-card-header>
          <mat-card-title class="mb-3">Ganancias de los Cursos</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ngx-charts-pie-chart
            [results]="earningsData"
            [scheme]="colorScheme"
            [legend]="true"
            [labels]="true"
            [doughnut]="true"
            class="chart-responsive">
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>

      <!-- Pending Tasks Chart Section -->
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-card-title class="mb-3">Tareas Pendientes de Calificar</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ngx-charts-pie-chart
            [results]="pendingTasksData"
            [scheme]="colorScheme"
            [legend]="true"
            [labels]="true"
            [doughnut]="true"
            class="chart-responsive"
            (click)="openPendingTasksDialog()">
          </ngx-charts-pie-chart>
        </mat-card-content>
      </mat-card>
    </main>
  </div>
